@model controleFinanceiro.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex align-items-center justify-content-between">
    <h1>
        @Html.DisplayFor(model => model.Nome)
    </h1>
    @{
        var idUsu = Model.UsuarioId;
    }
    <div class="btn-group btn-group-toggle">
        <div class="btn btn-light">
            @Html.ActionLink("Nova transação", "Create", "Financa", new { id = @idUsu})
        </div>
        <a class="btn btn-light text-primary" asp-action="Edit" asp-route-id="@Model.UsuarioId">Editar Usuário</a>
        <a class="btn btn-light text-primary" asp-action="Index">Voltar</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Valor
            </th>
            <th>
                Data da Finança
            </th>
            <th>
                Modalidade
            </th>
            <th>
                Categoria
            </th>
            <th>
                Tipo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Financas)
        {
            <tr>
                <td>
                    @string.Format("{0:C}", item.Valor)
                </td>
                <td>
                    @item.DataFinanca.ToString("dd/MM/yyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modalidade.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo.Descricao)
                </td>
                <td class="btn-group btn-group-toggle">
                    <div class="btn btn-light btn-sm">
                        @Html.ActionLink("Editar", "Edit", "Financa", new { id = @item.FinancaId})
                    </div>
                    <div class="btn btn-light btn-sm">
                        @Html.ActionLink("Detalhes", "Details", "Financa", new { id = @item.FinancaId})
                    </div>
                    <div class="btn btn-light btn-sm">
                        @Html.ActionLink("Deletar", "Delete", "Financa", new { id = @item.FinancaId})
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
