@model IEnumerable<controleFinanceiro.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center justify-content-between">
    <h1>Usuários</h1>
    <a class="btn btn-info" asp-action="Create">Cadastrar</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="btn-group btn-group-toggle">
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.UsuarioId">Ver finanças</a>
                    <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.UsuarioId">Editar</a>
                    <a class="btn btn-secondary btn-sm" asp-action="Delete" asp-route-id="@item.UsuarioId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
